:root{
    --hover-brown: #631919;
    --active-brown: #7e0404;
    --background-collor: #f6cd94;
    --footer-collor: #D99B66;
    --fb-collor: #0365FF;
    --fb-collor-active: #004cc7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f6cd94;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/*   HEADER   */


header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10em;
}
.head-btn{
    height: 100%;
    width: 150px;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    white-space: nowrap;
}
.head-btn span:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    color: var(--hover-brown)
}
.head-btn span:active{
    font-weight: bold;
    color: var(--active-brown);
}
.site-name{
    font-family: 'Dancing Script', sans-serif;
    font-style: italic;
    width: fit-content;
    white-space: nowrap;
}
.more-btn,
.space{
    display: none;
}



/*    SITE-PIC    */

.site-pic{
    width: 100%;
    height: 700px;
    background-image: 
    linear-gradient(#f6cd9459, #f6cd9454), 
    url(media/firstpic.jpg);
    background-size: cover;
    background-position: center 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    font-style: italic;
    text-shadow: 1px 2px #631919;
}
.site-pic h1{
    font-size: 6rem;
}
.program{
    font-size: 1.2rem;
}



/*    OUR MENU   */


.our-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em 10em;
    height: fit-content;
    gap: 3em;
}
.o-m-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-style: italic;
}
.ourmenu{
    position: relative;
    text-align: center;
}
.ourmenu span{
    background-color: var(--background-collor);
    padding: 0 0.4em;  
}
.ourmenu::before,
.ourmenu::after {
    content: "";
    display: block;
    width: 270px;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    z-index: -2;
}
.ourmenu::before{
    left: 0;
}
.ourmenu::after{
    right: 0;
}

.o-m-text{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}



/*   MENU PICS    */

.menu-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 3em;

}
.food-pic{
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.food-pic p{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
}
.pic{
    box-shadow: 0 1px 5px 2px var(--active-brown);
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.starter{
    background-image: url(media/starter.jpg);
    background-position: center 70%;
}
.breakfast{
    background-image: url(media/breakfast.jpg);
}
.main-cours{
    background-image: url(media/maincoursee.jpg);
}
.fast-food{
    background-image: url(media/fastfood.jpg);
}
.salad{
    background-image: url(media/salad.jpg);
}
.dessert{
    background-image: url(media/dessert.avif);
}
.drinks{
    background-image: url(media/cocktail.jpg);
}




/*    VISIT US   */

.visit-us{
    margin: 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 3em;
}
.v-u-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    gap: 1em;
}
.v-u-title h3{
    font-weight: 400;
}
.visitus{
    position: relative;
    text-align: center;
}
.visitus span{
    background-color: var(--background-collor);
    padding: 0 0.4em;
    font-style: italic;
}
.visitus::before,
.visitus::after{
    content: "";
    display: block;
    top: 50%;
    z-index: -2;
    height: 1px;
    width: 270px;
    position: absolute;
    background: black;
}
.visitus::before{
    left: 0;
}
.visitus::after{
    right: 0;
}


/*    RESTAURANT PICS   */

.restaurant-pics{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.r-pic{
    width: 45%;
    height: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 5px 2px var(--active-brown);
}
.rpic1{
    background-image: url(media/visit1.jpg);
}
.rpic2{
    background-image: url(media/visit2.jpg);
}



/*   MAP PICS    */

.locations{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
.map-pic{
    width: 30%;
    height: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.mp{
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 5px 2px var(--active-brown);
}
.adress{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    font-style: italic;
    text-align: center;
}
.adress p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--hover-brown);
    font-weight: 500;
}
.adress p:active{
    color: var(--active-brown);
}
.mpic1{
    background-image: url(media/map1.png);
}
.mpic2{
    background-image: url(media/map2.png);
}
.mpic3{
    background-image: url(media/map3.png);
}





/*  FOOTER  */



footer{
    background-color: var(--footer-collor);
    width: 100%;
    height: 30vh;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding-top: 3em;
    font-weight: 500;
}
.f-part{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.fp1 ul{
    list-style: none;
}
.part1{
    align-items: start;
}
.underline li{
    width: fit-content;
}
.underline li:hover,
.part2:hover{
    cursor: pointer;
    color: var(--hover-brown);
    text-decoration: underline;
}
.underline li:active,
.part2:hover{
    color: var(--active-brown);
}
.part2{
    font-style: italic;
}
.SHlogo{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.media-circle{
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.media-circle:hover{
    cursor: pointer;
}
.fb:hover{
    background-color: var(--fb-collor);
}
.fb:active{
    background-color: var(--fb-collor-active);
}
.insta:hover{
    background: linear-gradient(
        200deg,
         #8C1FF9 0%, 
         #FF0860 50%,
         #FFC501 100%
        );
}
.insta:active{
    background: linear-gradient(
        200deg,
         #841eeb 0%, 
         #e00753 50%,
         #f8bf01 100%
        );
}








/*  SIZING  */



@media (max-width: 1440px){
    header{
    margin: 0 5em;
    }
    .our-menu{
        margin: 5em 0em;
    }
    .visit-us{
        margin: 0;
    }
}
@media (max-width: 1024px){
    header{
        margin: 0;
    }
    .food-pic{
      height: 270px; 
      width: 25%; 
    }
    .r-pic{
        width: 45%;
        height: 80%;
    }
    .map-pic{
        width: 40%;
        height: 500px;
    }
    .locations{
        height: fit-content;
    }
    .part1{
        justify-content: space-between;
    }
}
@media (max-width: 768px){
    .none768{
        display: none;
    }
    .more-btn{
        width: 30px;
        text-decoration: none;
        display: block;
    }
    .space{
        display: block;
        width: 30px;
        height: 100%;
        border: none;
        background-color: transparent;
    }
    header{
        padding: 0 1em;
    }
    .site-pic h1{
        font-size: 4rem;
    }
    .program{
        font-size: 1rem;
    }
    .o-m-text{
        width: 400px;
    }
    .o-m-title,
    .v-u-title{
        width: 400px;
    }
    .food-pic{
      height: 270px;
      width: 35%;
    }
    .rpic1{
        display: none;
    }
    .rpic2{
        width: 80%;
    }
    .map-pic{
        width: 40%;
        height: 400px;
    }
    .f-part{
        flex-wrap: wrap;
        width: 100%;
    }
    .part1{
        justify-content: space-evenly;
    }
    footer{
        height: fit-content;
    }
    .SHlogo h1{
        font-size: 1.4rem;
    }
}
@media (max-width: 600px){
  .map-pic{
        width: 400px;
    }
    .rpic2{
        width: 95%;
    }
}
@media (max-width: 425px){
    .site-pic{
    height: 500px;
    flex-wrap: wrap;
    text-align: center;
    }
    .program span{
        white-space: nowrap;
    }
    .space{
        width: 1px;
    }
    .site-pic h1{
        font-size: 2.3rem;
    }
    .program{
        font-size: 0.8rem;
    }
    .o-m-text{
        width: 95%;
        font-size: 1rem;
    }
    .o-m-title,
    .v-u-title{
        width: 95%;
        font-size: 0.8rem;
    }
    .our-menu{
        margin: 5em 0;
    }
    .ourmenu::before,
    .ourmenu::after,
    .visitus::before,
    .visitus::after {
        width: 200px;
    }
    .food-pic{
        width: 80%;
    }
    .map-pic{
        width: 90%;
    }
    .f-part{
        gap: 1em;
    }
}

